.statusIcon {
  &.jump {
    color: #10b981;
    &:hover {
      color: #059669;
    }
  }
  &.playing {
    color: #3b82f6;
    &:hover {
      color: #2563eb;
    }
  }
  &.paused {
    color: #f97316;
    &:hover {
      color: #ea580c;
    }
  }
}

td.iconCell {
  cursor: pointer;
  user-select: none;
  min-width: 2.2rem;
  text-align: center;
}
