.container {
  height: auto;
  width: 100%;
  overflow: hidden;

  color: var(--secondary-light-color);
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--primary-light-color);
}

.header {
  display: flex;
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;

  a.brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    letter-spacing: 0.075em;
    color: var(--secondary-dark-color);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: inline-flex;

    &:hover {
      background-color: var(--primary-dark-color);
      border-radius: 0.25rem;
    }
  }

  .group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .project {
    font-size: 1.2em;
    > span {
      font-weight: bold;
    }
  }

  form.project {
    > input {
      font-size: 1.1em;
      background-color: var(--primary-dark-color);
      color: var(--secondary-dark-color);

      height: 100%;
      width: 300px;
      padding: 2px 4px;

      outline: none;
      border: none;
    }
    display: inline;
  }

  span.project {
    cursor: pointer;
    padding: 0.2rem 0.2rem;
    font-weight: 500;

    line-height: 1.2em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: var(--primary-dark-color);
    }

    :first-child {
      max-width: 300px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}
