.container {
  width: 100%;
  padding: 1rem 1rem;

  .teams {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-dark-color);
  }

  .info {
    display: flex;
    font-size: var(--font-size-small);
    margin: 1.25rem 0 0.5rem 0.5rem;
    color: var(--secondary-dark-color);

    span.projectTitle {
      color: var(--accent-color);
      font-weight: 600;
    }
  }

  .actions {
    display: flex;
    justify-content: right;

    width: 100%;
    border-top: 1px solid var(--divider-color);
  }
}

.noTeams {
  padding: 3rem 1rem;
}

.selectTrigger {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 0.5rem 0;

  background-color: var(--primary-light-color);
  color: var(--secondary-color);

  border: 1px solid var(--divider-light-color);
  border-radius: 0.2rem;
}

.selectTrigger:hover {
  color: var(--secondary-dark-color);
  background-color: var(--primary-dark-color);
  border-color: var(--divider-dark-color);
}

.selectPortal {
  z-index: 1200;
}

.selectContent {
  overflow: hidden;
  background-color: var(--divider-dark-color);
}

.selectViewport {
  padding: 1px;
}

.selectItem {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  height: 1.6rem;
  padding: 0 2rem 0 1.6rem;
  position: relative;

  color: var(--secondary-color);
  background-color: var(--popover-color);
}
.selectItem[data-highlighted] {
  outline: none;
  color: var(--secondary-dark-color);
  background-color: var(--primary-dark-color);
}

.selectItemIndicator {
  position: absolute;
  left: 0;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: right;
  gap: 0.5rem;

  color: var(--secondary-light-color);
  background-color: var(--primary-contrast-color);
  padding: 0.4rem 1rem;
  line-height: 1rem;
  border-top: 1px solid var(--divider-light-color);
}
