.DropdownMenuContent {
  min-width: 220;
  background-color: var(--popover-color);
  border: 1px solid var(--divider-dark-color);
  border-radius: 4px;
  padding: 5px;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  cursor: pointer;
  position: relative;
  user-select: none;
  outline: none;
  font-size: var(--font-size-small);

  display: flex;
  align-items: center;
  height: 1.75rem;
  padding: 0 5px;

  color: var(--secondary-color);
  border-radius: 3px;

  &[data-highlighted] {
    color: var(--secondary-dark-color);
    background-color: var(--primary-dark-color);
  }
}
