::placeholder {
  color: var(--secondary-light-color);
}

.editor {
  color: var(--secondary-dark-color);
  background-color: var(--primary-contrast-color);
  height: 100%;
  border: none;

  line-height: 1.3rem;
}

.editor > * {
  outline: none;
}
