.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
  }

  tr {
    line-height: 2;
    display: "flex";
    flex: 1 1 0%;

    &.editing {
      background-color: var(--primary-light-color);
    }

    &.comment {
      // background-color: rgba(255, 255, 224, 0.5);
      text-align: center;

      td > span {
        color: var(--secondary-dark-color);
      }
    }

    &.add {
      text-align: center;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: var(--primary-light-color);
      }
    }

    .statusIcon {
      &.jump {
        color: #10b981;
        &:hover {
          color: #059669;
        }
      }
      &.playing {
        color: #3b82f6;
        &:hover {
          color: #2563eb;
        }
      }
      &.paused {
        color: #f97316;
        &:hover {
          color: #ea580c;
        }
      }
    }

    td {
      text-align: center;
    }

    td,
    th {
      border: 1px solid var(--divider-light-color);
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &,
      * {
        color: var(--secondary-dark-color);
        font-size: var(--font-size-small);
      }
    }

    td.iconCell {
      cursor: pointer;
      user-select: none;
      min-width: 2.2rem;
      text-align: center;
    }
  }
}

.input {
  width: 100%;
  color: var(--secondary-dark-color);
  border: none;
  outline: none;
  background: none;
  display: "flex";
  flex: 1 1 0%;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  // line-height: 2;
}
