.container {
  text-align: center;
  width: 100%;

  .header {
    background-color: var(--primary-contrast-color);
    border-bottom: 1px solid var(--divider-light-color);
    padding: 1.2rem;

    display: flex;
    align-items: bottom;
    justify-content: space-between;

    h3 {
      color: var(--secondary-dark-color);
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin: 0;
    }

    .exit {
      color: var(--secondary-light-color);
      background-color: transparent;
      height: 22px;
      width: 22px;
      border: none;

      &:hover {
        color: var(--secondary-dark-color);
        cursor: pointer;
      }
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.25rem 1rem;
    padding: 0.75rem 0.5rem;

    // input {
    //   background-color: var(--primary-color);
    //   color: var(--secondary-dark-color);
    //   border: 1px solid var(--divider-color);

    //   width: 100%;
    //   padding: 0.5rem 0.5rem;

    //   outline: none;

    //   &::placeholder {
    //     color: var(--secondary-color);
    //   }
    // }

    div.track {
      width: 100%;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 1rem;

      margin: 0.2rem 0;
      padding: 0.8rem 1rem;
      border: 1px solid var(--divider-light-color);

      &.active {
        border-color: var(--accent-color);
      }

      button {
        cursor: pointer;
        text-align: left;
        font-size: var(--font-size-small);
        border: none;
        color: var(--secondary-color);
        background: none;
      }

      .actions {
        display: inline-flex;
        gap: 0.5rem;
      }
    }

    button.add {
      width: 100%;
      cursor: pointer;

      margin: 0.2rem 0;
      padding: 0.4rem 1rem;

      color: var(--accent-contrast-color);
      background-color: var(--accent-color);
      border: none;

      &:hover {
        color: var(--accent-contrast-color);
        background-color: var(--accent-dark-color);
      }
    }
  }
}
