.container {
  text-align: center;
  width: 100%;

  .header {
    background-color: var(--primary-contrast-color);
    border-bottom: 1px solid var(--divider-light-color);
    padding: 1.2rem;

    display: flex;
    align-items: bottom;
    justify-content: space-between;

    h3 {
      color: var(--secondary-dark-color);
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin: 0;
    }

    .exit {
      color: var(--secondary-light-color);
      background-color: transparent;
      height: 22px;
      width: 22px;
      border: none;

      &:hover {
        color: var(--secondary-dark-color);
        cursor: pointer;
      }
    }
  }

  .inner {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    max-height: 400px;

    margin: 0.25rem 0 0.25rem 1.25rem;
    padding-right: 0.25rem;

    div.track {
      width: 100%;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 1rem;

      margin: 0.2rem 0;
      padding: 0.8rem 1rem;
      border: 1px solid var(--divider-light-color);

      &.active {
        border-color: var(--accent-color);
      }

      span.highlight {
        color: var(--accent-color);
        font-weight: 600;
      }

      .info {
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;
        text-align: left;
        font-size: var(--font-size-small);
        border: none;
        color: var(--secondary-dark-color);
        background: none;
      }

      .actions {
        display: inline-flex;
        gap: 0.2rem;

        button {
          cursor: pointer;
          text-align: left;
          font-size: var(--font-size-small);
          border: none;
          color: var(--secondary-color);
          background: none;

          &:hover {
            color: var(--accent-color);
          }
          &.delete:hover {
            color: var(--color-red);
          }
        }
      }

      .deleteConfirmationActions {
        display: inline-flex;
        gap: 0.5rem;

        .delete {
          background-color: var(--color-red);
          &:hover {
            background-color: var(--color-red-dark);
          }
        }
      }
    }
  }

  .footer {
    color: var(--secondary-light-color);
    background-color: var(--primary-contrast-color);
    font-weight: 500;
    font-size: var(--font-size-tiny);
    line-height: 1rem;
    border-top: 1px solid var(--divider-light-color);

    button.add {
      width: calc(100% - 1rem);
      margin: 0.5rem;
    }
  }
}

.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 8rem;
  text-transform: capitalize;

  cursor: pointer;
  border: 1px solid var(--divider-color);
  color: var(--secondary-dark-color);
  background-color: transparent;
  padding: 0.2rem 0.5rem;

  &:hover {
    background-color: var(--primary-dark-color);
  }
}

.selectPortal {
  z-index: 1200;
}

.selectContent {
  overflow: hidden;
  background-color: var(--divider-dark-color);
  height: 300px;
}

.selectViewport {
  padding: 1px;
  width: 8rem;
}

.selectItem {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  height: 1.6rem;
  padding: 0 2rem 0 1.6rem;
  position: relative;

  color: var(--secondary-color);
  background-color: var(--popover-color);
}
.selectItem[data-highlighted] {
  outline: none;
  color: var(--secondary-dark-color);
  background-color: var(--primary-dark-color);
}

.selectItemIndicator {
  position: absolute;
  left: 0;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
