@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 1rem;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-background-clip: content-box;
    background-clip: content-box;
    background-color: gray;
    border-radius: 9999px;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
  }

  ::--webkit-scrollbar-track {
    background-color: transparent;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
  }
}