.container {
  width: auto;
  height: auto;

  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-right: 2px solid var(--primary-light-color);

  font-weight: 500;
  font-size: 0.9rem;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  nav {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: nowrap;
    flex: none;
    flex-direction: column;

    a {
      position: relative;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;
    }

    a:hover {
      background-color: var(--primary-dark-color);
      color: var(--secondary-dark-color);
    }

    a > span {
      margin-top: 0.5rem;
    }

    a > svg {
      opacity: 0.75;
    }
  }
}
