@mixin colorsLight {
  --primary-color: #fff;
  --primary-light-color: #fafafa;
  --primary-dark-color: #f5f5f5;
  --primary-contrast-color: #fefefe;
  --secondary-color: #737373;
  --secondary-light-color: #a3a3a3;
  --secondary-dark-color: #171717;
  --divider-color: #f3f4f6;
  --divider-light-color: #f5f5f5;
  --divider-dark-color: #d4d4d4;
  --error-color: #fef3c7;
  --tooltip-color: #262626;
  --popover-color: #fff;
}

@mixin colorsDark {
  --primary-color: #171717;
  --primary-light-color: #1c1c1e;
  --primary-dark-color: #262626;
  --primary-contrast-color: #161616;
  --secondary-color: #a3a3a3;
  --secondary-light-color: #737373;
  --secondary-dark-color: #f5f5f5;
  --divider-color: #262626;
  --divider-light-color: #1f1f1f;
  --divider-dark-color: #2d2d2d;
  --error-color: #292524;
  --tooltip-color: #f5f5f5;
  --popover-color: #1b1b1b;
}

:root.light {
  @include colorsLight;
}

:root.dark {
  @include colorsDark;
}

@media (prefers-color-scheme: light) {
  :root.system {
    @include colorsLight;
  }
}

@media (prefers-color-scheme: dark) {
  :root.system {
    @include colorsDark;
  }
}

:root {
  --color-green: #10b981;
  --color-teal: #14b8a6;
  --color-blue: #3b82f6;
  --color-indigo: #6366f1;
  --color-purple: #8b5cf6;
  --color-yellow: #f59e0b;
  --color-orange: #f97316;
  --color-red: #ef4444;
  --color-pink: #ec4899;

  --color-green-light: #34d399;
  --color-teal-light: #2dd4bf;
  --color-blue-light: #60a5fa;
  --color-indigo-light: #818cf8;
  --color-purple-light: #a78bfa;
  --color-yellow-light: #fbbf24;
  --color-orange-light: #fb923c;
  --color-red-light: #f87171;
  --color-pink-light: #f472b6;

  --color-green-dark: #059669;
  --color-teal-dark: #0d9488;
  --color-blue-dark: #2563eb;
  --color-indigo-dark: #4f46e5;
  --color-purple-dark: #7c3aed;
  --color-yellow-dark: #d97706;
  --color-orange-dark: #ea580c;
  --color-red-dark: #dc2626;
  --color-pink-dark: #db2777;
}

:root[data-accent='green'] {
  --accent-color: var(--color-green);
  --accent-light-color: var(--color-green-light);
  --accent-dark-color: var(--color-green-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='teal'] {
  --accent-color: var(--color-teal);
  --accent-light-color: var(--color-teal-light);
  --accent-dark-color: var(--color-teal-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='blue'] {
  --accent-color: var(--color-blue);
  --accent-light-color: var(--color-blue-light);
  --accent-dark-color: var(--color-blue-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='indigo'] {
  --accent-color: var(--color-indigo);
  --accent-light-color: var(--color-indigo-light);
  --accent-dark-color: var(--color-indigo-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='purple'] {
  --accent-color: var(--color-purple);
  --accent-light-color: var(--color-purple-light);
  --accent-dark-color: var(--color-purple-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='yellow'] {
  --accent-color: var(--color-yellow);
  --accent-light-color: var(--color-yellow-light);
  --accent-dark-color: var(--color-yellow-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='orange'] {
  --accent-color: var(--color-orange);
  --accent-light-color: var(--color-orange-light);
  --accent-dark-color: var(--color-orange-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='red'] {
  --accent-color: var(--color-red);
  --accent-light-color: var(--color-red-light);
  --accent-dark-color: var(--color-red-dark);
  --accent-contrast-color: #fff;
}

:root[data-accent='pink'] {
  --accent-color: var(--color-pink);
  --accent-light-color: var(--color-pink-light);
  --accent-dark-color: var(--color-pink-dark);
  --accent-contrast-color: #fff;
}
