@mixin colorsLight {
  --primary-color: #fff;
  --primary-light-color: #fafafa;
  --primary-dark-color: #f5f5f5;
  --primary-contrast-color: #fefefe;
  --secondary-color: #737373;
  --secondary-light-color: #a3a3a3;
  --secondary-dark-color: #171717;
  --divider-color: #f3f4f6;
  --divider-light-color: #f5f5f5;
  --divider-dark-color: #d4d4d4;
  --error-color: #fef3c7;
  --tooltip-color: #262626;
  --popover-color: #fff;
}

@mixin colorsDark {
  --primary-color: #171717;
  --primary-light-color: #1c1c1e;
  --primary-dark-color: #262626;
  --primary-contrast-color: #161616;
  --secondary-color: #a3a3a3;
  --secondary-light-color: #737373;
  --secondary-dark-color: #f5f5f5;
  --divider-color: #262626;
  --divider-light-color: #1f1f1f;
  --divider-dark-color: #2d2d2d;
  --error-color: #292524;
  --tooltip-color: #f5f5f5;
  --popover-color: #1b1b1b;
}

:root.light {
  @include colorsLight;
}

:root.dark {
  @include colorsDark;
}

@media (prefers-color-scheme: light) {
  :root.system {
    @include colorsLight;
  }
}

@media (prefers-color-scheme: dark) {
  :root.system {
    @include colorsDark;
  }
}

:root[data-accent="green"] {
  --accent-color: #10b981;
  --accent-light-color: #34d399;
  --accent-dark-color: #059669;
  --accent-contrast-color: #fff;
}

:root[data-accent="teal"] {
  --accent-color: #14b8a6;
  --accent-light-color: #2dd4bf;
  --accent-dark-color: #0d9488;
  --accent-contrast-color: #fff;
}

:root[data-accent="blue"] {
  --accent-color: #3b82f6;
  --accent-light-color: #60a5fa;
  --accent-dark-color: #2563eb;
  --accent-contrast-color: #fff;
}

:root[data-accent="indigo"] {
  --accent-color: #6366f1;
  --accent-light-color: #818cf8;
  --accent-dark-color: #4f46e5;
  --accent-contrast-color: #fff;
}

:root[data-accent="purple"] {
  --accent-color: #8b5cf6;
  --accent-light-color: #a78bfa;
  --accent-dark-color: #7c3aed;
  --accent-contrast-color: #fff;
}

:root[data-accent="yellow"] {
  --accent-color: #f59e0b;
  --accent-light-color: #fbbf24;
  --accent-dark-color: #d97706;
  --accent-contrast-color: #fff;
}

:root[data-accent="orange"] {
  --accent-color: #f97316;
  --accent-light-color: #fb923c;
  --accent-dark-color: #ea580c;
  --accent-contrast-color: #fff;
}

:root[data-accent="red"] {
  --accent-color: #ef4444;
  --accent-light-color: #f87171;
  --accent-dark-color: #dc2626;
  --accent-contrast-color: #fff;
}

:root[data-accent="pink"] {
  --accent-color: #ec4899;
  --accent-light-color: #f472b6;
  --accent-dark-color: #db2777;
  --accent-contrast-color: #fff;
}
