:root {
  --font-size-body: 0.9rem;
  --font-size-tiny: calc(var(--font-size-body) - 0.1rem);
  --line-height-body: 1rem;
}

::selection {
  background-color: var(--accent-dark-color);
  color: var(--accent-contrast-color);
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
