.container {
  width: auto;
  height: 100%;

  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-right: 1px solid var(--primary-light-color);
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  user-select: none;

  nav {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: nowrap;
    flex: none;
    flex-direction: column;

    a {
      position: relative;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;
    }

    a:hover {
      cursor: pointer;
      color: var(--secondary-dark-color);
    }

    a.active {
      color: var(--accent-color);
    }

    a > svg {
      opacity: 0.75;
    }
  }
}
