.tooltip {
  background-color: var(--secondary-dark-color) !important;
  color: var(--primary-dark-color) !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
